.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

@mixin displays ($bp: '') {
  @each $value in flex, inline, inline-block, block, none {
    .display#{$bp}-#{$value}{
      display: $value !important;
    }
  }
}

@mixin spacing($bp: '', $prop, $shortcut) {
  @for $i from 1 through 6 {
    .#{$shortcut}l#{$bp}-#{$i} {
      #{$prop}-left: 5px * $i;
    }
    .#{$shortcut}r#{$bp}-#{$i} {
      #{$prop}-right: 5px * $i;
    }
    .#{$shortcut}t#{$bp}-#{$i} {
      #{$prop}-top: 5px * $i;
    }
    .#{$shortcut}b#{$bp}-#{$i} {
      #{$prop}-bottom: 5px * $i;
    }
    .#{$shortcut}x#{$bp}-#{$i} {
      #{$prop}-left: 5px * $i;
      #{$prop}-right: 5px * $i;
    }
    .#{$shortcut}y#{$bp}-#{$i} {
      #{$prop}-top: 5px * $i;
      #{$prop}-bottom: 5px * $i;
    }
  }
}


@mixin flex-prop($prop) {
  @each $value in center, space-around, space-between, flex-end {
    .#{$prop}-#{$value} {
      #{$prop}: $value !important;
    }
  }
}

@include flex-prop(justify-content);
@include flex-prop(align-items);

[class^="col-"],
[class*=" col-"] {
  box-sizing: border-box;
  padding: 10px;
}

//generat the requred classes by screen size
@mixin columns ($bp: '') {
  @for $i from 1 through 12 {
    .col#{$bp}-#{$i} {
      width: (100% / 12) * $i;
      // padding: 20px;
    }
  }
}

@include columns();
@include displays();
@include spacing('', margin, m);
@include spacing('', padding, p);

//media queries for the grid
@media (min-width: $sm-breakpoint) {
  @include columns(-md);
  @include displays(-md);
  @include spacing(-md, margin, m);
  @include spacing(-md, padding, p);
}

@media (min-width: $md-breakpoint) {
  @include columns(-lg);
  @include displays(-lg);
  @include spacing(-lg, padding, p);
}

@media (min-width: $lg-breakpoint) {
  @include columns(-xl);
  @include displays(-xl);
  @include spacing(-xl, padding, p);
}