// Colors
$primary: blue;
$secondary: teal;
$success: green;
$warning: orange;
$danger : crimson;
$info : skyblue;
$default : lightgray;
$dark: black;
$light: whitesmoke;

$colors :(
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  info: $info,
  danger: $danger,
  default: $default,
  dark: $dark,
  light: $light
);

// Breakpoints
$sm-breakpoint: 600px;
$md-breakpoint: 900px;
$lg-breakpoint: 1200px;
$xl-breakpoint: 1600px;

// other variables
$diagonal-height: 7vw; // this variable have to be in percentaje