.box{
    width: 920px;
    max-width: 100%;
    padding: 10px 30px;
}


@each $name,$color in $colors {
    
    .btn-#{$name}{
        background-color: $color;

    //   @if $color < #888{
    //       color: white;
    //   } @else{
    //     color: rebeccapurple;
    //   }



    // @if ($color == $defult){
    //     color: black;
    // }


    }



}