%box {
    padding: 10px 30px;
    margin: auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.box {
    @extend %box;
    width: 1024px;
    max-width: 100%;

}

.full-box {
    @extend %box;
    width: 100%;
}

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

@each $name, $color in $colors {
    .btn-#{$name} {
        background-color: $color;
        display: inline-block;
        padding: .3em .5em;
        border-radius: 5px;
        color: $light;
    }
}

@each $name, $color in $colors {
    .btn-#{$name}-outline {
        background-color: transparent;
        display: inline-block;
        padding: .3em .5em;
        border-radius: 5px;
        color: $color;
        border: 2px solid $color;
    }
}


.nav{
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 5px 10px;
    margin: 0 5px;
}

.stick-to-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.full-width{
    flex-grow: 1;
    width: 100%;
}

.full-height{
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.diagonal-right {
    padding-bottom: $diagonal-height !important;
    clip-path: polygon(0 calc(0% + #{$diagonal-height}),
        100% 0,
        100% 100%,
        0 calc(100% - #{$diagonal-height}));
    & + * {
        margin-top: -$diagonal-height !important;
        padding-top: $diagonal-height !important;
    }
}

.diagonal-left {
    padding-bottom: $diagonal-height !important;
    clip-path: polygon(0 0,
        100% calc(0% + #{$diagonal-height}),
        100% calc(100% - #{$diagonal-height}),
        0 100%);
    & + * {
        margin-top: -$diagonal-height !important;
        padding-top: $diagonal-height !important;
    }
}