%box {
    padding: 10px 30px;
    margin: auto;
    box-sizing: border-box;
}

.box {
    @extend %box;
    width: 920px;
    max-width: 100%;

}

.full-box {
    @extend %box;
    width: 100%;
}

@each $name, $color in $colors {
    .btn-#{$name} {
        background-color: $color;
        display: inline-block;
        padding: .3em .5em;
        border-radius: 5px;
        color: $light;
    }
}

@each $name, $color in $colors {
    .btn-#{$name}-outline {
        background-color: transparent;
        display: inline-block;
        padding: .3em .5em;
        border-radius: 5px;
        color: $color;
        border: 2px solid $color;
    }
}


.nav{
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 5px 10px;
    margin: 0 5px;
}

.stick-to-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.full-width{
    flex-grow: 1;
    width: 100%;
}

.pointer {
    cursor: pointer;
}