@import './reset';
@import './variables';
@import './type';
@import './grid';
@import './widgets';


.hero {
  background-color: rgba($color: #000000, $alpha: .5);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    font-weight: bold;
    margin-top: 30px;

    .logo {
      font-size: 3rem;
    }

    ul li{
      cursor: pointer;
      padding: 10px;
      border: 2px solid transparent;
      transition:all .7s;
      &:hover{
        border-radius: 5%;
        background: rgba($color: #474646, $alpha: .5);
        border: 2px solid $light;
        transform: translateY(-5px);
      }
    }

    @media (max-width: $sm-breakpoint) {
      margin-top: 10px;
    }
  }

  .hero-text {
    height: 100%;
    display: flex;
    align-items: center;
    h1 {
      margin-bottom: 10%;
      font-family: 'Raleway', sans-serif;
      .h3{
        font-size: 30px;
      }
      .h2{
        font-size: 50px;
      }
      .h1{
        font-size: 80px;
      }
      @media (max-width: $sm-breakpoint) {
        .h3 { font-size: 20px; }
        .h2 { font-size: 30px; }
        .h1 { font-size: 60px; }
      }
    }
    @media (max-width: $sm-breakpoint) {
      padding: 0;
    }
  }
}

.hero::after {
  content: '';
  background: url('https://i.pinimg.com/originals/c7/0a/43/c70a435e537ea495e340302356ed7172.jpg') no-repeat left bottom;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



.card-container {
  cursor: pointer;
  height: 400px;
  perspective: 600;
  position: relative;
  width: 100%;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  margin-bottom: 30px;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  // background: #eaeaed;
  background: url('https://i.pinimg.com/originals/c7/0a/43/c70a435e537ea495e340302356ed7172.jpg') no-repeat left bottom, rgba($color: #000000, $alpha: .5);;
  color: $light;
  line-height: 250px;
  text-align: center;
  transform: rotateY(180deg);
}
