@import './reset';
@import './variables';
@import './type';
@import './grid';
@import './widgets';


.hero {
  background-color: rgba($color: #000000, $alpha: .5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    font-weight: bold;
    margin-top: 30px;

    .logo {
      font-size: 3rem;
    }

    ul li{
      cursor: pointer;
    }

    @media (max-width: $sm-breakpoint) {
      margin-top: 10px;
    }
  }

  .hero-text {
    height: 100%;
    display: flex;
    align-items: center;
    h1 {
      margin-bottom: 10%;
      font-family: 'Raleway', sans-serif;
      .h3{
        font-size: 30px;
      }
      .h2{
        font-size: 50px;
      }
      .h1{
        font-size: 80px;
      }
      @media (max-width: $sm-breakpoint) {
        .h3 { font-size: 20px; }
        .h2 { font-size: 30px; }
        .h1 { font-size: 60px; }
      }
    }
    @media (max-width: $sm-breakpoint) {
      padding: 0;
    }
  }
}

.hero::after {
  content: '';
  background: url('https://i.pinimg.com/originals/c7/0a/43/c70a435e537ea495e340302356ed7172.jpg') no-repeat left bottom;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
